.team-section {
  text-align: center;
  background-color: #191818;
  color: #999;
  padding: 40px 10px;
}

.section-title {
  font-weight: 300;
  font-size: 30px;
  margin-top: 5px;
  margin-bottom: 40px;
}

.team {
  display: flex;
  flex-direction: row;
  min-height: 260px;
  .member {
    display: flex;
    flex-direction: column;
    flex: 4;
    justify-content: space-between;
    align-items: center;
    .avatar {
      width: 160px;
      height: 160px;
      margin-top: 10px;
      transition: 0.3s ease;
    }
    .detail {
      span {
        display: inline-block;
        font-weight: 300;
      }
      .name {
        font-weight: 400;
        font-size: 20px;
        color: #b8b7b7;
      }
    }
    &:hover {
      cursor: pointer;
      .avatar {
        transform: scale(1.07);
      }
      .name {
        color: red;
      }
    }
  }
}
