<div class="p-image1">
  <div class="p-text">
    <span class="border">
      Dream Team
    </span>
  </div>
</div>

<section class="section section-light">
  <h2>Section one</h2>
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis tenetur veniam cum qui mollitia aperiam quam nostrum
  fugit et illo at nisi, ipsa porro libero nihil, voluptas non dicta nemo. Reiciendis molestiae deleniti sapiente voluptatibus
  possimus ipsum quis accusamus provident nostrum distinctio officiis enim voluptas minus, dolore fugiat expedita quidem
  minima. Officia, sit mollitia corporis, quasi dicta illum, incidunt optio ratione libero aut dolorem eveniet quae aliquid
  nostrum quam facere officiis rem! Iure in et magni aspernatur quo voluptatibus nisi esse eveniet, facere incidunt amet.
  Excepturi reiciendis facilis distinctio minus doloremque recusandae? Fugiat. Repellat sed dolore, quae voluptatum veniam
  atque!
</section>


<div class="p-image2">
  <div class="p-text">
    <span class="border trans">
      Team introduction
    </span>
  </div>
</div>

<section class="section section-dark">
  <h2>Team introduction</h2>
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis tenetur veniam cum qui mollitia aperiam quam nostrum
  fugit et illo at nisi, ipsa porro libero nihil, voluptas non dicta nemo. Reiciendis molestiae deleniti sapiente voluptatibus
  possimus ipsum quis accusamus provident nostrum distinctio officiis enim voluptas minus, dolore fugiat expedita quidem
  minima. Officia, sit mollitia corporis, quasi dicta illum, incidunt oiis. Natus harum distinctio dolore repudiandae, reprehenderit
  adipisci at recusandae beatae mollitia iste nisi quis magnam, delectus dolorem totam asperiores eligendi ullam nam laboriosam
  placeat
</section>

<div class="p-image3">
  <div class="p-text">
    <span class="border trans">
      Team introduction
    </span>
  </div>
</div>

<app-team></app-team>


<div class="p-image1">
  <div class="p-text">
    <span class="border">
      Dream Team
    </span>
  </div>
</div>
