.p-image1 {
  background-image: url('../../../assets/images/seattle.jpg');
  min-height: 100%;
  background-repeat: no-repeat;
}

.p-image2 {
  background-image: url('../../../assets/images/coding.jpg');
  min-height: 400px;
}

.p-image3 {
  background-image: url('../../../assets/images/desk.jpg');
  min-height: 400px;
}

.p-image1,
.p-image2,
.p-image3 {
  position: relative;
  opacity: 0.7;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  background-attachment: fixed;
}

.section {
  text-align: center;
  padding: 15px 18px;
}

.section-light {
  background-color: #f4f4f4;
  color: #666;
}

.section-dark {
  background-color: #282e34;
  color: #ddd;
}

.p-text {
  position: absolute;
  top: 50%;
  text-align: center;
  width: 100%;
  color: #000;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;

  .border {
    background-color: #111;
    color: #fff;
    padding: 20px;
  }
}

@media (max-width: 568px) {
  .p-image1,
  .p-image2,
  .p-image3 {
    background-attachment: scroll;
  }
}
