.member {
  display: flex;
  flex-direction: row;
  flex: 1;
  height: 100%;

  .avatar {
    display: flex;
    flex: 2;
    background-image: url('../../../assets/images/uurtsaikh.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .detail {
    flex: 3;
  }
}
