<div class="member">

  <div class="avatar"
       id="avatar">
  </div>

  <div class="detail"
       id="detail">
    <h3 class="name">
      <span class="firstname">{{ member.profile.firstname }}</span> {{ member.profile.lastname }}</h3>
    <div class="experiences">
      <div class="career"
           *ngFor="let career of member.careers">
        <span class="position">{{ career.position}}</span>
        <span class="company">{{ career.company }}</span>
        <span class="date">{{ career.date }}</span>
        <span class="location">{{ career.location}} </span>
      </div>
    </div>
    <div class="contact">
      <span> {{ member.profile.email }} | {{ member.profile.phone }} | {{ member.profile.linkedin }} | {{ member.profile.website}}</span>
    </div>
  </div>

</div>
