.member {
  display: flex;
  flex-direction: row;
  flex: 1;
  height: 100%;
  font-size: 2vh;

  .avatar {
    display: flex;
    flex: 2;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .detail {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Helvetica Nueue', sans-serif;

    .experiences {
      margin-left: 50px;
      margin-top: 30px;
      margin-bottom: 30px;
      font-size: 1.5vh;
    }

    .firstname {
      font-weight: 600;
    }

    .name {
      font-weight: 400;
      text-transform: uppercase;
      margin: 0;
      font-size: 5vmin;
      margin-left: 40px;
      line-height: 1em;
    }

    .position,
    .company {
      text-transform: uppercase;
      font-size: 1.8vh;
    }

    .company {
      font-weight: 600;
    }

    .career {
      margin: 20px 0;

      span {
        display: block;
        line-height: 1.3em;
      }
    }

    .contact {
      margin-left: 50px;
      font-size: 1.5vh;
    }
  }
}
